
/* Initializes Pre-settings for Device Scale *//*
@media(max-width: 2000px) {
    body .box-1 .title {
        font-size: 24px;
    }
    body .main {
        height: auto;
    }
    body .row {
        height: auto; 
        flex-wrap: wrap;
    }
    body .row .box {
        width: 100%;
    }
}
*/
html {
    scroll-snap-type: y mandatory;
}

/* Body Background Definition */
body {
    background: linear-gradient(0deg, #748ece, #9fb5ff);
}

/* Cover Page */
.cover  {
    height: 100vh;
    background: linear-gradient(45deg, #0076FF, #EB3828);
    scroll-snap-align: center;
}
.logo_image  {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}
.revealImage {
    position: relative;
    transform: translateY(15px);
    opacity: 0.0;
    transition: 5s all ease;
}
.revealImage.active {
    transform: translateY(0);
    opacity: 1;
}
/* End Cover Page */
  

/* Initialization of Subsequent Code */
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #42455a;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #00c2cb;
}
header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #b9f3ff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #00c2cb;
  color: #42455a;
  transition: .5s ease-out;
  letter-spacing: 2px;
}


/* Section Style Code */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0vh;
  scroll-snap-align: start;
}
section:nth-child(2) {
  color: #fff5db;
  background: linear-gradient(190deg, #4060c7, #4361b1);
}
section:nth-child(3) {
  color: #dee7ee;
  background: linear-gradient(0deg, #6475b8, #5d8fcd); /* #02cfda); */
}
section:nth-child(4) {
  color: #ffecb9;
  background: linear-gradient(185deg, #6b72d3, #5b77af); /* linear-gradient(185deg, #b5d3ff, #9ad3fe); */
}
section:nth-child(5) {
  color: #b8ecff; /* #00f53d */
  background: linear-gradient(185deg, #326db5, #4f5488);
}
section:nth-child(6) {
  color: #fff4db; /* #042d9c */
  background: linear-gradient(185deg, #4a4f93, #3a4c71); /* linear-gradient(185deg, #b5d3ff, #9ad3fe); */
}
section .container {
  margin: 50px;
}
section .container-sub {
    margin: 50px;
}
section .container-last {
    margin: 50px;
    margin-bottom: 50vh;
}
section h1 {
  font-size: 7rem;
  margin: 20px;
}
section h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5vh;
}
section .text-container {
  display: flex;
  justify-content: center;
}
section .text-container .text-box {
    width: 25vw;
    max-width: 40%;
    font-size: 1.8rem;
    border-radius: 0px;     
    margin: 5px 15px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    background: #2f354158;/* #50556158;  #dde8ff58 */
}
section .text-container .text-box h3 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
  } 
/* about text box control */
section .text-container .who-box {
    width: 40vw;
    max-width: 40%;
    font-size: 1.6rem;
    border-radius: 0px;     
    margin: 5px 15px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    background: #2f354158;/* #41475a;/* #50556158;  #dde8ff58 */
}
section .text-container .who-box h3 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
  }   
section .carousel-container {
    height: 40%;
    margin: 0 10%;
    display: flex;
}
section .carousel-container .carousel-box {
    max-width: 40%;
    font-size: 2rem;
    border-radius: 0px; 
    margin: 15px;
    margin-top: 50px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    background: #2f354158;
  }
section .carousel-container .carousel-blankL {
    width: 30%;
    height: 40%;
    max-width: 50%;
    max-height: 30%;
    display: flex;
  }
.carousel-blankL .arrow-place-left {
    max-width: 66.7%;
    margin-top: 25%;
    margin-right: 10%;
    justify-content: right;
}
section .carousel-container .carousel-blankR {
    width: 40%;
    height: 40%;
    max-width: 50%;
    max-height: 30%;
    display: flex;
  }
.carousel-blankR .arrow-place-right {
    max-width: 50%;
    margin-top: 25%;
    margin-left: 10%;
    justify-content: left;
}
section .carousel-container .carousel-box h3 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
}


/* Message Field */
section .message-container {
    display: flex;
    justify-content: center;
  }
section .message-container .message-box {
    width: 40%;
    max-height: 48vh;
    font-size: 1.6rem;
    border-radius: 0px;
    margin: 15px;
    margin-top: 50px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    background: #2f354158;
}
section .message-container .message-box h3 {
    text-align: center;
    margin-bottom: 20px;
}
section .message-container .message-box .text-line {
    font-size: 0.9em;
    justify-content: center;
    padding-left: 4px;
    padding-bottom: 6px;
}
.entry-row {
    width: 100%;
    display: flex;
}
.entry-row .entry-lines {
    width: 100%;
    font-size: 0.9em;
    margin: 2px 4px;
    padding: 0%;
    border: 0%;
    text-align: center;
}
.entry-line {
    width: 100%;
    font-size: 0.9em;
    margin: 3px 4px;
    text-align: 0 0;
}
textarea {
    font-size: 0.8em;
    width: 100%;
    max-width: 100%;
    border: blue;
    border-width: 1px;
    border-radius: 3px;
    margin: 0 0%;
    padding: 5px;
    box-shadow: 0 0 3px, rgba(0, 0, 0, 0.7);
}
textarea:active, textarea:focus {
    border: none;
    outline: none;
}
.button-placement {
    font-size: 0.9em;
    font-weight: bold;
    color: #0076FF;
    width: 100%;
    max-width: 100%;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px 3px; 
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 3px, rgba(0, 0, 0, 0.7);
    background-color: #fffefe;
}
a {
    color: #0076FF;
}




@media (max-width: 900px) {
  section h1 {
    font-size: 5rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}
.y-scroll {
    scroll-snap-type: y mandatory;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}



/* Content Structures */
.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel__item {
    width: 50%;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.carousel__image {
    display: block;
    text-align: center;
}
.portrait {
    max-width: 100%;
    max-height: 150%;
    width: 240px;
    float: left;
    border-radius: 4px;
    margin-right: 25px;
    margin-bottom: 5px;
}
.image-place {
    max-width: 100%;
    border-radius: 4px;
    align-items: center;
}
.icon-place {
    width: 20%;
    margin: 5% 40%;
    align-items: center;
}


/* Footer  */
/* main footer container */
.footer {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, #325487, #3b62c5);
    scroll-snap-align: start;
}
/* footer element container */
.footer .container {
    max-height: 100%;
    width: 30%;
    margin-top:auto;
    margin-bottom: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
}
/* logo container */
.footer .footer-logo {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0vh;
    opacity: 100%;
}
/* left footer containers and elements */
.footer h4 {
    font-size: 1.7em;
    color: #ffffff;
    margin: 15px;
    justify-items: center;
}
.footer .text {
    font-size: 1.1em;
    color: white;
    margin-left: 14px;
    padding: 2px;
    justify-content: center;
    align-items: center;
}



/* unclear what this piece of code does 
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5vh;
}
*/




/*

.row-2 img {
    height: 100px;
    margin: 20px;
}
.box-2 {
    align-self: stretch;
}
.row-2 .box .header {
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
}
.row-2 .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: center;
    // align-items: center;
    // text-align: center; 
    padding: 15px;
}
.row-2 .box {
    width: 25%;
}
.row-1, .row-2, .row-3 {
    align-items: flex-end;
}
textarea {
    border: none;
}
textarea:active, textarea:focus {
    border: none;
    outline: none;
}
.row-3 .box {
    width: 33.333%;
}
.box.portrait-box .name {
    font-size: 20px;
    margin-bottom: 10px;
}
.box.portrait-box {
    padding: 15px;
}
.box.portrait-box .description {
    display: inline;
}
.box .portrait {
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}
.box.box-10 textarea {
    flex-grow: 1;
}
.box.box-10 {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.box.box-10 .phone, .box.box-10 .email {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.box.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.box-1 .subdescription {
    margin-top: 10px;
}
.box.box-1 {
    padding: 15px;
}
.box-1 .title {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin: 0;
}
.box.logo {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-1 .box{
    width: 33.333%;
}
.box {
    flex-grow: 1;
    background: rgba(179, 173, 228, 0.719);
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    margin: 15px;
}
.row {
    height: 33.3%;
    display: flex;
    // padding: 0 15px; 
}
.main {
    padding: 15px;
    height: 100vh;
}
html,body {
    margin: 0; padding: 0;
    min-height: 100vh;
}
img.logo {
    max-height: 100%;
    max-width: 100%;
}
*/
