
@media(max-width: 2000px) {
    body .box-1 .title {
        font-size: 24px;
    }
    body .main {
        height: auto;
    }
    body .row {
        height: auto; 
        flex-wrap: wrap;
    }
    body .row .box {
        width: 100%;
    }
}

html {
    scroll-snap-type: y mandatory;
}

/* Body Background Definition */
body {
    background: linear-gradient(0deg, #748ece, #9fb5ff);
}

/* Cover Page */
.cover  {
    height: 100vh;
    background: linear-gradient(45deg, #0076FF, #EB3828);
    scroll-snap-align: center;
}
.logo_image  {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}
.revealImage {
    position: relative;
    transform: translateY(15px);
    opacity: 0.0;
    transition: 5s all ease;
}
.revealImage.active {
    transform: translateY(0);
    opacity: 1;
}
  

/* Initialization of Subsequent Code */
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #42455a;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #00c2cb;
}
header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #b9f3ff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #00c2cb;
  color: #42455a;
  transition: .5s ease-out;
  letter-spacing: 2px;
}


/* Section Style Code */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15vh;
  scroll-snap-align: center;
}
section:nth-child(2) {
  color: #e2efff;
  background: linear-gradient(190deg, #4060c7, #4361b1);
}
section:nth-child(3) {
  color: #e9edff;
  background: linear-gradient(0deg, #6475b8, #5d8fcd); /* #02cfda); */
}
section:nth-child(4) {
  color: #b8ecff; /* #00f53d */
  background: linear-gradient(185deg, #326db5, #4f5488);
}
section:nth-child(5) {
  color: #a9fcff; /* #042d9c */
  background: linear-gradient(185deg, #4a4f93, #3a4c71); /* linear-gradient(185deg, #b5d3ff, #9ad3fe); */
}
section:nth-child(6) {
  color: #00fbff;
}
section .container {
  margin: 50px;
}
section h1 {
  font-size: 7rem;
  margin: 20px;
}
section h2 {
  font-size: 4rem;
  text-align: center;
}
section .text-container {
  display: flex;
  justify-content: center;
}
section .text-container .text-box {
  max-width: 40%;
  font-size: 1.7rem;
  border-radius: 0px; 
  margin: 15px;
  margin-top: 50px;
  padding: 25px;
  background: #3a41504f;
}
section .text-container .text-box h3 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 5rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.y-scroll {
    scroll-snap-type: y mandatory;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Content Structures */

.portrait {
    max-width: 100%;
    max-height: 100%;
    height: 240px;
    width: 240px;
    float: left;
    margin-right: 25px;
    margin-bottom: 5px;
}

/* Footer  */

/* main footer container */
.footer {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, #325487, #3b62c5);
    scroll-snap-align: start;
}

/* left footer containers and elements */

.footer .footer_left {
    height: 100%;
    max-width: 30%;
    padding: 10px;
}
.footer-left .footer-topLeft {
    font-size: 24px;
    color: #dfe5ff;
    margin: 50px;
}
.footer-left .footer-bottomLeft {
    font-size: 24px;
    color: #dfe5ff;
}
.footer-topLeft .footer-title{
    font-size: 24px;
    color: #dfe5ff;
    text-align: center;
    /* padding-top: 15vh; */
}
.footer-topLeft .footer-nav{
    font-size: 16px;
    color: #dfe5ff;
    text-align: center;
}
.footer-bottomLeft .footer-copyright{
    font-size: 16px;
    color: #dfe5ff;
    text-align: center;
    /* padding-top: 15vh; */
}

/* footer logo container */
.footer .footer-logo {
    display: block;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0vh;
    opacity: 100%;
}

/* left footer containers and elements */
.footer .footer_right{
    height: 50vh;
    max-width: 30%;
    padding: 20px;
}
.footer-right .footer-topRight{
    font-size: 24px;
    color: #dfe5ff;
    text-align: center;
}
.footer-right .footer-bottomRight{
    font-size: 24px;
    color: #dfe5ff;
}
.footer-topRight .contact{
    font-size: 16px;
    color: #dfe5ff;
    /* this aligns the text */
    text-align: center;
    padding-top: 0vh; 
}
.footer-bottomRight .copyright{
    font-size: 16px;
    color: #dfe5ff;
    /* this aligns the text */
    text-align: center;
    padding-top: 20vh;
}

/* unclear what this piece of code does 
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5vh;
}
*/




/*

.row-2 img {
    height: 100px;
    margin: 20px;
}
.box-2 {
    align-self: stretch;
}
.row-2 .box .header {
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
}
.row-2 .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: center;
    // align-items: center;
    // text-align: center; 
    padding: 15px;
}
.row-2 .box {
    width: 25%;
}
.row-1, .row-2, .row-3 {
    align-items: flex-end;
}
textarea {
    border: none;
}
textarea:active, textarea:focus {
    border: none;
    outline: none;
}
.row-3 .box {
    width: 33.333%;
}
.box.portrait-box .name {
    font-size: 20px;
    margin-bottom: 10px;
}
.box.portrait-box {
    padding: 15px;
}
.box.portrait-box .description {
    display: inline;
}
.box .portrait {
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}
.box.box-10 textarea {
    flex-grow: 1;
}
.box.box-10 {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.box.box-10 .phone, .box.box-10 .email {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.box.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.box-1 .subdescription {
    margin-top: 10px;
}
.box.box-1 {
    padding: 15px;
}
.box-1 .title {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin: 0;
}
.box.logo {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-1 .box{
    width: 33.333%;
}
.box {
    flex-grow: 1;
    background: rgba(179, 173, 228, 0.719);
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    margin: 15px;
}
.row {
    height: 33.3%;
    display: flex;
    // padding: 0 15px; 
}
.main {
    padding: 15px;
    height: 100vh;
}
html,body {
    margin: 0; padding: 0;
    min-height: 100vh;
}
img.logo {
    max-height: 100%;
    max-width: 100%;
}
*/
